In [2]:
import pandas as pd
import matplotlib.pyplot as plot
import random as rd
import math
import numpy as np
import sklearn.metrics as metrics
from sklearn.linear_model import LinearRegression
insr = pd.read_csv('insurance_modif.csv')
insr.head(5)

   Unnamed: 0  age  sex     bmi  children  smoker  region      charges
0           0   19    0  27.900         0       1       3  16884.92400
1           1   18    1  33.770         1       0       2   1725.55230
2           2   28    1  33.000         3       0       2   4449.46200
3           3   33    1  22.705         0       0       1  21984.47061
4           4   32    1  28.880         0       0       1   3866.85520

In [3]:
feature_col = ['age', 'bmi']
x = insr[feature_col]
y = insr['charges']
linreg = LinearRegression()
linreg.fit(x, y)
x_pred = x
y_pred = linreg.predict(x)
print(feature_col,linreg.coef_)
print("\nPredictions=",y_pred[0:5])

['age', 'bmi'] [241.9307779  332.96509081]

Predictions= [ 7461.6062016   9174.18050678 11337.10516586  9118.88344544
 10933.01210331]

In [4]:
print("Nilai MAE = ",np.sqrt(metrics.mean_absolute_error(y, y_pred)))

Nilai MAE =  95.03934976309222