In [27]:
import pandas as pd
import matplotlib.pyplot as plot
import random as rd
import math
import numpy as np
import sklearn.metrics as metrics
from sklearn.linear_model import LinearRegression
insr = pd.read_csv('insurance_modif.csv')
data = insr[['age','bmi','smoker']]
predict = insr[['charges']]
insr.head()

   Unnamed: 0  age  sex     bmi  children  smoker  region      charges
0           0   19    0  27.900         0       1       3  16884.92400
1           1   18    1  33.770         1       0       2   1725.55230
2           2   28    1  33.000         3       0       2   4449.46200
3           3   33    1  22.705         0       0       1  21984.47061
4           4   32    1  28.880         0       0       1   3866.85520

In [28]:
data.head(5)

   age     bmi  smoker
0   19  27.900       1
1   18  33.770       0
2   28  33.000       0
3   33  22.705       0
4   32  28.880       0

In [29]:
predict.head(5)

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,predict,test_size=0.2)
x_train.shape

(1070, 3)

In [35]:
x_test.shape

(268, 3)

In [42]:
linreg = LinearRegression()
model = linreg.fit(x_train, y_train)
pred = linreg.predict(x_test)
print(pred)

[[ 3.64245002e+04]
 [ 5.37858689e+03]
 [ 3.98751941e+04]
 [ 4.59305103e+03]
 [ 1.37546850e+04]
 [ 3.33242857e+04]
 [-1.44644955e+03]
 [ 8.08416864e+02]
 [ 7.81194906e+03]
 [ 7.30671067e+03]
 [ 1.23700358e+04]
 [ 1.26789558e+03]
 [ 4.55655884e+03]
 [ 3.44936099e+03]
 [ 1.15200975e+04]
 [ 8.07570750e+03]
 [ 6.93119754e+03]
 [ 7.60950829e+03]
 [ 6.19608536e+03]
 [ 2.60654653e+03]
 [ 3.75858919e+04]
 [ 3.72028989e+04]
 [ 1.19145053e+04]
 [ 4.57123638e+03]
 [ 1.22450484e+04]
 [ 1.30136722e+04]
 [ 5.11612555e+03]
 [ 5.72867987e+03]
 [ 1.22383279e+04]
 [ 1.05800715e+04]
 [ 5.78297792e+03]
 [ 1.18895320e+04]
 [ 7.07957885e+03]
 [ 1.26713280e+04]
 [ 5.60434773e+03]
 [ 1.23309360e+04]
 [ 1.25887334e+04]
 [ 3.16615735e+04]
 [ 9.03871088e+03]
 [ 1.27724442e+04]
 [ 9.96425438e+03]
 [ 3.74930755e+04]
 [ 3.23363829e+04]
 [ 1.28943771e+04]
 [ 1.15639957e+04]
 [ 1.11641948e+04]
 [ 1.35598282e+04]
 [ 1.04069991e+04]
 [ 4.02665967e+03]
 [ 6.06348370e+03]
 [ 1.09856990e+04]
 [ 1.19750466e+04]
 [ 4.11779266e+03]
 [ 1.09254701e+04]
 [ 1.98325695e+04]
 [ 1.37957639e+03]
 [ 1.65806067e+04]
 [ 2.64506492e+03]
 [ 7.08869856e+03]
 [ 6.60466322e+03]
 [ 1.67401037e+04]
 [ 1.13927245e+03]
 [ 2.76608493e+04]
 [ 8.44059550e+03]
 [ 1.11266005e+04]
 [ 3.96864765e+04]
 [ 5.97045895e+03]
 [ 4.53227108e+03]
 [ 4.56746617e+03]
 [ 1.51133327e+04]
 [ 3.25705174e+04]
 [ 1.44384494e+04]
 [ 1.74854377e+04]
 [ 8.98678178e+03]
 [ 1.25953194e+04]
 [ 1.19052075e+04]
 [ 2.97012409e+03]
 [-4.94219067e+02]
 [ 8.65935366e+03]
 [ 1.23650290e+04]
 [ 1.40298715e+04]
 [ 1.06146113e+04]
 [ 4.00755671e+03]
 [ 2.74277127e+04]
 [ 3.79404842e+04]
 [ 4.08241315e+04]
 [ 5.99453840e+03]
 [ 7.19708634e+03]
 [ 9.82962652e+03]
 [ 6.28869348e+03]
 [ 3.32556528e+04]
 [ 9.81700546e+03]
 [ 1.50445957e+04]
 [ 1.68507865e+04]
 [ 3.77617801e+04]
 [ 6.23429128e+03]
 [ 2.89627618e+03]
 [ 3.69169092e+04]
 [ 2.39535946e+04]
 [ 9.93324613e+03]
 [ 1.72841293e+04]
 [ 1.09349023e+04]
 [ 1.16791039e+04]
 [ 7.87320618e+03]
 [ 5.61854808e+03]
 [ 1.28283518e+04]
 [ 1.09756855e+04]
 [ 6.44592564e+03]
 [ 2.20534437e+03]
 [ 2.31839617e+03]
 [ 4.86402048e+03]
 [ 3.09195628e+04]
 [ 1.66309263e+04]
 [ 4.82731997e+03]
 [ 3.10303195e+04]
 [ 6.34734307e+03]
 [-3.12087537e+02]
 [ 6.60260674e+03]
 [ 2.91500612e+03]
 [ 5.01264038e+03]
 [ 6.24358903e+03]
 [ 8.96904980e+03]
 [ 3.95514756e+04]
 [ 2.45105538e+04]
 [ 5.09238885e+03]
 [ 2.57348180e+03]
 [ 9.05928898e+03]
 [ 7.51837531e+03]
 [ 1.22000481e+04]
 [ 1.03740688e+04]
 [ 1.32709924e+04]
 [ 2.44665817e+04]
 [ 1.27845142e+04]
 [ 5.48676635e+03]
 [ 1.15638612e+04]
 [ 2.69785600e+04]
 [ 7.76015439e+03]
 [ 4.62951294e+03]
 [ 4.10699933e+04]
 [ 1.12638795e+04]
 [ 3.51709170e+04]
 [-1.03924267e+03]
 [ 5.81227243e+03]
 [ 1.38785399e+04]
 [ 1.27122456e+04]
 [ 6.66215014e+03]
 [ 2.62077756e+04]
 [ 3.22039157e+04]
 [ 3.82889676e+04]
 [ 8.82783589e+03]
 [ 6.73033607e+03]
 [ 9.63806281e+03]
 [ 3.07876466e+04]
 [ 1.11308612e+04]
 [ 6.07054694e+03]
 [ 1.61452075e+04]
 [ 9.70042205e+03]
 [ 7.55462891e+03]
 [ 8.40437218e+03]
 [ 1.78678327e+03]
 [ 1.85283543e+04]
 [ 1.78022274e+04]
 [ 7.49645650e+03]
 [ 1.39807885e+04]
 [ 1.10389386e+04]
 [ 8.98791418e+03]
 [ 1.12839065e+04]
 [ 4.06425398e+03]
 [ 2.97012352e+04]
 [ 1.17418059e+04]
 [ 3.15019915e+03]
 [ 1.21127895e+04]
 [ 6.18470085e+03]
 [ 6.42890943e+03]
 [ 9.62043499e+03]
 [ 1.19026000e+04]
 [ 2.63568424e+04]
 [ 3.24831546e+04]
 [ 5.68138451e+03]
 [ 9.52672474e+03]
 [ 9.96778600e+03]
 [ 3.25963409e+04]
 [ 8.23554720e+03]
 [ 7.29559503e+03]
 [ 1.28103074e+04]
 [ 6.90458444e+03]
 [ 5.68762782e+03]
 [ 7.88277280e+03]
 [ 1.21887980e+04]
 [ 1.26492747e+04]
 [ 1.00304880e+04]
 [ 7.58447449e+03]
 [ 1.79367511e+04]
 [ 2.71027029e+03]
 [ 1.69649707e+04]
 [ 9.91040324e+03]
 [ 8.98053847e+03]
 [ 2.84951556e+04]
 [ 3.53871415e+04]
 [ 3.03386283e+04]
 [ 4.05190179e+03]
 [ 3.36827523e+04]
 [ 1.89290625e+03]
 [ 4.51659558e+03]
 [ 8.82804420e+03]
 [ 4.64213400e+03]
 [ 8.91591443e+03]
 [ 3.41285515e+04]
 [ 6.79955024e+03]
 [ 3.33562180e+04]
 [ 2.94999704e+04]
 [ 1.18563631e+04]
 [ 5.51200847e+03]
 [ 6.45717571e+03]
 [ 5.22430501e+03]
 [ 3.61820053e+04]
 [ 9.63669182e+03]
 [ 1.17858049e+03]
 [ 1.07343533e+04]
 [ 1.26349702e+04]
 [ 9.70975008e+03]
 [ 4.92775071e+03]
 [ 1.30009167e+04]
 [ 7.98433593e+03]
 [ 1.02095651e+04]
 [ 2.90306429e+04]
 [ 3.79054974e+04]
 [ 4.08703684e+04]
 [ 3.27491476e+04]
 [ 1.52520432e+04]
 [ 2.93918212e+04]
 [ 1.17512381e+04]
 [ 1.02452373e+04]
 [ 1.28586746e+04]
 [ 9.57042793e+03]
 [ 9.17642345e+03]
 [ 3.10733978e+04]
 [ 2.94899872e+04]
 [ 6.29857257e+03]
 [ 1.08133863e+03]
 [ 3.11702666e+04]
 [ 1.44518601e+04]
 [ 1.63356388e+04]
 [ 1.07641250e+04]
 [ 4.58235202e+03]
 [ 1.78453795e+04]
 [ 7.41381945e+00]
 [ 1.31675072e+04]
 [ 4.22501776e+03]
 [ 3.41118535e+03]
 [ 3.47128395e+04]
 [ 1.32743157e+04]
 [ 5.52130622e+03]
 [ 2.06094158e+03]
 [ 7.99434945e+03]
 [ 1.96198599e+03]
 [ 5.34483667e+03]
 [ 3.15129839e+04]
 [ 3.28525286e+04]
 [ 2.61350600e+04]
 [ 3.55666352e+04]
 [ 1.22450484e+04]
 [ 3.03282609e+03]
 [ 1.11044128e+04]
 [ 9.71019698e+03]
 [ 4.59620963e+03]
 [ 3.32005236e+03]
 [ 1.50200390e+04]]

In [44]:
print("Nilai MAE = ",np.sqrt(metrics.mean_absolute_error(y_test, pred)))

Nilai MAE =  67.22223847072271