In [3]:
import pandas as pd
import matplotlib.pyplot as plot
import random as rd
import math
import numpy as np
import sklearn.metrics as metrics
from sklearn.tree import DecisionTreeRegressor
insr = pd.read_csv('insurance_modif.csv')
data = insr[['age','bmi','smoker']]
predict = insr[['charges']]
insr.head()

   Unnamed: 0  age  sex     bmi  children  smoker  region      charges
0           0   19    0  27.900         0       1       3  16884.92400
1           1   18    1  33.770         1       0       2   1725.55230
2           2   28    1  33.000         3       0       2   4449.46200
3           3   33    1  22.705         0       0       1  21984.47061
4           4   32    1  28.880         0       0       1   3866.85520

In [4]:
data.head(5)

   age     bmi  smoker
0   19  27.900       1
1   18  33.770       0
2   28  33.000       0
3   33  22.705       0
4   32  28.880       0

In [5]:
predict.head(5)

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,predict,test_size=0.2)
x_train.shape

(1070, 3)

In [35]:
x_test.shape

(268, 3)

In [8]:
dtg = DecisionTreeRegressor()
model = dtg.fit(x_train, y_train)
pred = dtg.predict(x_test)
print(pred)

[32734.1863    3172.018    43921.1837    4340.4409    2201.0971
 10043.249    16297.846    10096.97      3091.6885   13129.60345
  3693.428     2632.992    20277.80751   1635.73365  11987.1682
 18804.7524    1906.35825  12124.9924   22144.032     8627.5411
  2457.502    11512.405     8538.28845  11272.33139  24180.9335
 13041.921    12235.8392   44501.3982   41676.0811    9283.562
 27117.99378   7325.0482    8342.90875  28950.4692    5979.731
 47055.5321    6494.9025    2117.33885   3757.8448    8782.469
 23887.6627    9377.9047    8688.85885   8302.53565   5757.41345
 14283.4594   51194.55914  31620.00106   4673.3922    4746.344
 20296.86345  23244.7902    6825.961     4544.2348    8539.671
 13224.693     7882.429475 20984.0936    4719.73655  42111.6647
  1121.8739   10602.385    25517.11363   3161.454    32787.45859
 22478.6      10602.385     2731.9122   46130.5265   39597.4072
  6877.9801    5972.378    14256.1928    9447.3824   19933.458
 32734.1863   48673.5588    6571.544     8516.829    13822.803
 47269.854     2534.39375   1121.8739    3176.8159   12096.6512
  4504.6624   20167.33603   8527.532     1708.92575   8334.5896
  8671.19125  34806.4677    4518.82625   9290.1395   14455.64405
 42111.6647   23065.4207    2156.7518    3736.4647    2196.4732
 40932.4295   23306.547     4237.12655  36219.40545   8605.3615
 12404.8791    6781.3542    6593.5083   11365.952    10043.249
 28868.6639    1261.859    46130.5265    4058.1161    6494.9025
  1607.5101   10602.385     6356.2707   11165.41765  27117.99378
 10043.249    11552.904     2459.7201    7518.02535   1131.5066
  8538.28845  40003.33225  43753.33705   1674.6323    5472.449
 11286.5387   10118.424     3484.331     1917.3184    4827.90495
 11163.568     4504.6624    2154.361     5325.651    11093.6229
  8527.532    16085.1275   36197.699    11830.6072   12928.7911
  7441.053    12557.6053    7371.772     2104.1134   12224.35085
 20277.80751   6877.9801   24106.91255   6289.7549    2913.569
  7729.64575   7173.35995  23045.56616  13880.949    38711.
 13224.693    12404.8791   11512.405     8615.3      11552.904
 35147.52848   4846.92015   8522.003    10982.5013    4133.64165
 10043.249     6067.12675  19144.57652   5910.944    19144.57652
  1634.5734    2457.502    23045.56616  10806.839     6185.3208
  6748.5912   11073.176     8219.2039    2156.7518   11085.5868
 17468.9839   10355.641    12430.95335  11187.6567   48549.17835
 41676.0811    1731.677     3972.9247    7518.02535   7325.0482
 21098.55405   6402.29135   3292.52985   2483.736     8827.2099
 35491.64      4234.927    14399.8544   15555.18875   1972.95
  8534.6718    3687.4768   10214.636    23967.38305  10115.00885
 14590.63205  27941.28758   3736.4647    1131.5066    6393.60345
 10043.249     2899.48935   6748.5912   13607.36875   7153.5539
  4544.2348   10795.93733   4040.55825   8671.19125   8988.15875
  8334.5896   44202.6536   39725.51805  12224.35085  38245.59327
  9541.69555  32734.1863    1725.5523    5327.40025   9634.538
 10602.385    40904.1995   10043.249    12574.049     4005.4225
 15161.5344    4518.82625   7682.67      2494.022     1625.43375
  4883.866    40182.246     2866.091     6338.0756    8442.667
 27808.7251    3206.49135  10848.1343   11674.13      1391.5287
 42856.838    32734.1863   46130.5265    1731.677     8688.85885
  5630.45785  10118.424     8825.086    17361.7661    2721.3208
  8988.15875  19361.9988   27000.98473 ]

In [9]:
print("Nilai MAE = ",np.sqrt(metrics.mean_absolute_error(y_test, pred)))

Nilai MAE =  55.003404736712405